.filter{
    margin-top: 5em;
}

.words{
    height: 10em;
    //width: 10em;
    background-color: #eee;
    overflow: hidden;
    overflow-y: scroll;
    ul{
        list-style: none;
        color:black;
    }
}