main{
    table{
        border-spacing: 0;
        border-collapse: collapse;
        td{
            border:1px solid #eee;
            padding: 1em  2em;
        }
        .tovar{
            //background-color: aqua;
            cursor: pointer;
            &:hover{
                background-color: black;
                color:#fff;
            }
            td{
                img{
                    width: 3em;
                    height: 3em;
                    object-fit: cover;
                }
            }
        }
    }
}